* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: black;

  overflow: hidden;
}

.container {
  display: flex;
  width: 800px;
  height: 630px;
  justify-content: center;
  align-items: center;
  border: 2px dashed white;
  margin: 30px auto;
  flex-wrap: wrap;
  /* padding: 10px; */
  position: relative;
}

.alert-betul {
  /* top: 50%; */
  /* margin-top: 300px; */
  /* transform: translate(-50%, -50%);
  left: 50%; */
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.alert-betul img {
  width: 800px;
  height: 600px;
}

.alert-salah {
  /* top: 50%; */
  /* margin-top: 300px; */
  /* transform: translate(-50%, -50%);
  left: 50%; */
  position: absolute;
  display: none;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.score {
  width: 600px;
  height: 50px;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.score .tombol {
  width: 200px;
  height: 50px;
  border: 4px white solid;
  border-radius: 15px;
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  align-content: center;
  text-align: center;
}

.score .remain-time {
  width: 200px;
  height: 50px;
  border: 4px white solid;
  border-radius: 15px;
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  align-content: center;
  text-align: center;
}

.indonesia,
.english {
  align-content: center;
  cursor: grab;
  height: 100px;
  width: 100px;
  align-items: center;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  word-wrap: break-word;
  padding: 3px;
  background-color: transparent;
}

.border {
  border: 7px dashed white;
  transform: scale(1.1);
}
.scale {
  transform: scale(1.1);
}

.english .indonesia {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.indonesia .english {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.list img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.game {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
  flex-direction: column;
  flex-wrap: wrap;
}

.game .cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.title span {
  font-size: 25px;
}

.dua,
.tiga,
.empat,
.lima,
.enam,
.tujuh,
.delapan,
.sembilan,
.sepuluh,
.sebelas,
.duabelas,
.tigabelas,
.empatbelas,
.limabelas,
.enambelas,
.tujuhbelas,
.delapanbelas,
.sembilanbelas,
.duapuluh {
  display: none;
}

.shake {
  animation: shakeAnim 0.5s;
}

@keyframes shakeAnim {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.blink {
  animation: twinkle 1s infinite;
}

@keyframes twinkle {
  0% {
    background-color: palevioletred;
    transform: scale(1);
  }
  25% {
    background-color: red;
    transform: scale(1.2);
  }

  50% {
    background-color: palevioletred;
    transform: scale(1);
  }

  75% {
    background-color: red;
    transform: scale(1.2);
  }

  100% {
    background-color: palevioletred;
    transform: scale(1);
  }
}

.game-over {
  position: absolute;
  display: none;
  width: 800px;
  height: 550px;
  font-size: 90px;
  font-weight: bold;
  color: white;
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 1px solid red;
  display: none;
  flex-direction: column;
  text-align: center;
}
.game-over a {
  font-size: 20px;
  padding: 10px 20px;
  background-color: greenyellow;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.game-over a:hover {
  background-color: yellowgreen;
}

.match-border {
  border: 4px solid blue;
  background-color: aliceblue;
}

.delete {
  transform: scale(0);
  transition: 1s;
}

.footer {
  color: white;
  text-align: center;
}
@media (max-width: 500px) {
  body {
    overflow: hidden;
  }
  .container {
    width: auto;
    height: 550px;
    margin-top: 50px;
  }

  .indonesia,
  .english {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 15px;
    margin: 5px;
  }

  .title {
    font-size: 15px;
    margin-top: -10px;
  }

  .score {
    margin-top: 15px;
  }

  .score .tombol,
  .score .remain-time {
    width: 150px;
    height: 30px;
    font-size: 15px;
    border: 1px solid white;
  }

  .game-over {
    width: 100%;
    height: 100%;
    font-size: 50px;
  }

  .game-over p {
    margin-bottom: 10px;
  }
}
